










  .navbar-menu-container {
    display: none;
  }

  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
 
  @media (max-width: 765px) {
   
    .navbar-menu-container {
      display: flex;
    }
    
  }
  