
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: 400;
  }
    
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .button{
    padding: 20px;
  }
  .vh-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-card {
    width: 500px; /* Adjust the width as needed */
    height:500px;
  }
 

/* Add this CSS in your Login.css file */
.no-shadow {
  box-shadow: none !important;
}
/* Add this CSS in your Login.css file */
.custom-input:focus {
  border-color: #000; /* Set your desired border color when input is in focus */
 
  /* You can customize this further if needed */
}
.header{
  background-color: #145970;
}

.main-bg{
  background-color: #e8eaea;
}
.btn-color
{
    background-color:  #0e4254 ;
}

.input-container {
  /*For placeholder effect*/
  position: relative;
  margin: 20px;
}

.input-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container.focused .input-label {
  top: -20px;
  font-size: 12px;
  font-weight: 500;
}

.label-up {
  top: -10px;
  font-size: 12px;
}