/* Add this CSS to make the table responsive */
.table-container {
  overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px; 
  }
  

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  th, td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  th, td {
    text-align: center;
  }
}
.bold-text {
    font-size: 16px;
    font-weight: bold;
  }
  